@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.Explist{
    color: white;
    margin-left: 25%;
    font-family: 'Dancing Script', cursive;
}
.Date{
    color: white; 
    margin-left: 22%;
    font-family: 'Estonia', cursive;
}
#banner{
    border-radius: 20px;
    width: 100%;
}
#rcorners{
    border-radius: 130px;
    height: 13em;
    float: left;
    margin:auto;
    padding:1em;
}
body{
    /*background-image:linear-gradient(to right,#04011F,#043ACD) ;*/
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-image:linear-gradient(to right,#043ACD,#04011F);*/
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-radius: 15px;
    font-family: cursive;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 12px;
  text-decoration: none;
font-family: 'Satisfy', cursive;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#about{
    text-align: justify;
    text-justify: inter-word;
    margin-right: 0.5%;
    margin-top: 1.5%;
    color: White; 
    font-family: 'Dancing Script', cursive; 
    font-size: 150%;
}
.hr2{
    margin-left: 15%;
}
#home{
    text-shadow: 0 0 8px #FF0000;
    text-align: center;
}
#skills{
    text-shadow: 0 0 8px #FF0000;
    text-align: center;
}
#edu{
    text-shadow: 0 0 8px #FF0000;
    text-align: center;
}
#workexp{
    text-shadow: 0 0 8px #FF0000;
    text-align: center;
}
#cert{
    text-shadow: 0 0 8px #FF0000;
    text-align: center;
}
.educa{
    font-size: 130%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.skill-bars{
  padding: 25px 30px;
  width: 30%;
  /*background-image:linear-gradient(to right,#04011F,#043ACD) ;*/
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    float: left;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  /*background-image:linear-gradient(to right,#667eea , #764ba2) ;*/
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.C span{
  width: 90%;
}
.bar .progress-line.Python span{
  width: 60%;
}
.bar .progress-line.java span{
  width: 70%;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.js span{
  width: 45%;
}
.bar .progress-line.sql span{
  width: 40%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.C span::after{
  content: "90%";
}
.progress-line.Python span::after{
  content: "60%";
}
.progress-line.java span::after{
  content: "70%";
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.js span::after{
  content: "45%";
}
.progress-line.sql span::after{
  content: "40%";
}

.conme{
    padding-left: auto; padding-right: auto;
}
